@model IEnumerable<SearchPageModel>
@model CatalogModel 
@{
    ViewData["Title"] = "Tìm kiếm - Path";
    ViewData["Description"] = "path.com.vn";
}
<div class="box">
    <div class="product-list">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="aside-nav">
                        <h3>
                            Sản phẩm theo chức năng
                        </h3>
                        <ul>
                            @foreach (var item in Model.CatalogFunctions)
                            {
                                <li><a style="color: @item.Color" href="~/nhom-chucnang-@item.Slug"><span class="icon icon-radio-unchecked"></span>@item.Name</a></li>
                            }
                        </ul>
                    </div>
                    <div class="aside-nav mt45">
                        <h3>
                            Sản phẩm theo lĩnh vực
                        </h3>
                        <ul>
                            @foreach (var item in Model.CatalogSectors)
                            {
                                <li><a style="color: @item.Color" href="~/nhom-sanpham-@item.Slug"><span class="icon icon-radio-unchecked"></span>@item.Name</a></li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                  <div class="content-wrap">
                      <h3>Kết quả tìm kiếm</h3>
                      <table class="table_1" cellspacing="1" cellpadding="1" border="0" width="100%">
                          <tbody>
                          @foreach (var item in Model)
                          {
                              <tr>
                                  <td><a href="@( item.URL.Replace("~/","") )">@item.Name</a></td>
                              </tr>
                          }
              
                          </tbody>
                      </table>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>   