@model HeaderModel
<header>
    <div class="header-logo">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="logo">
                        <a href="~/"><img src="~/client/images/icon/logo-header-w.png" alt=""></a>
                        <div class="logo-text display-none">
                            <div>Promise</div>
                            <div><span>Acceptance Trust Hope</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-wrap">
        <div class="container">
            <div class="row">
                <nav class="mobile-menu">
                    <ul class="mainnav">
                        <li><a href="~/">trang chủ</a>
                        <li class="hassubs">
                            <a href="~/sanpham">sản phẩm</a>
                            <ul class="dropdown">
                                <li class="subs hassubs">
                                    <a href="#">theo chức năng</a>
                                    <ul class="dropdown">
                                        @foreach (var item in Model.CatalogFunctions)
                                        {
                                        <li class="subs"><a href="~/nhom-chucnang-@item.Slug">@item.Name</a></li>
                                        }
                                    </ul>
                                </li>
                                <li class="subs hassubs">
                                    <a href="#">theo lĩnh vực</a>
                                    <ul class="dropdown">
                                        @foreach (var item in Model.CatalogSectors)
                                        {
                                        <li class="subs"><a href="~/nhom-sanpham-@item.Slug">@item.Name</a></li>
                                        }
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="hassubs">
                            <a href="~/tintuc">tin tức</a>

                            <ul class="dropdown">
                                @foreach (var item in Model.CategoryBlogs)
                                {
                                <li class="subs hassubs"><a href="~/nhomtintuc-1/@item.Slug">@item.Name</a></li>
                                }
                            </ul>
                        </li>

                        <li class="hassubs">
                            <a href="#">ứng dụng</a>
                            <ul class="dropdown">
                                @foreach (var item in Model.PageContents)
                                {
                                <li class="subs hassubs"><a href="~/ungdung-@item.Slug">@item.Name</a></li>
                                }
                            </ul>
                        </li>
                        <li><a href="~/cauhoi">faq</a></li>
                        <li><a href="~/lienhe">liên hệ</a></li>
                    </ul>
                </nav>

                <div class="header-right">
                    <div class="search-button-wrapper header-customize-item style-default">
                        <div class="icon-search-menu"><i class="icon icon-search"></i></div>
                        <div class="yolo-search-wrapper">
                            <form method="get" action="~/tim-kiem" novalidate>
                                <input id="search-ajax" name="filter" placeholder="Enter keyword to search" type="text" />
                                <button class="search" type="submit"><i class="icon icon-search"></i></button>
                                <button class="close"><i class="icon icon-cancel-circle"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="flag">
                    @{
                        var url = Context.Request.Scheme + "://" + Context.Request.Host;
                    }
                    <a href="@url"><img src="~/client/images/icon/vn.png" alt="VN"></a>
                    <a href="@($"{url}/en")"><img src="~/client/images/icon/gb.png" alt="ENG"></a>
                </div>
            </div>
        </div>
    </div>
</header>