@model HomeModel
<div class="box mt45">
    <div class="news">
        <div class="container">
            <div class="row">
                <div class="col-md-12 algin-text first-2">
                    <h1 class="header-title">Tin Tức</h1>
                    <ul class="filter-list">
                        @foreach (var item in Model.Category)
                        {
                            <li value="@item.Id"><span>@item.Name</span></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="swiper-container swiper5">
                <div class="swiper-wrapper">
                    @foreach (var item in Model.Posts)
                    {
                        <div class="swiper-slide img-content" data-filter="@item.CategoryBlogId">
                            <div class="content">
                                <a href="#"><img src="@item.UrlImage" alt="@item.Name"></a>
                                <div class="info-content">
                                    <h3 class="title"><a href="~/tin-tuc/@item.Slug">@item.Name</a></h3>
                                    <div class="readmore">
                                        <a href="~/tin-tuc/@item.Slug"><span class="icon icon-calendar"></span>@item.PushlishDate.Value.ToString("dd/MM/yyyy")</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>