@model CatalogModel
@{
    ViewData["Title"] = Model.Title + " - Path";
    ViewData["Description"] = "path.com.vn";
}
<div class="box">
    <div class="brums">
        <img src="@ViewBag.UrlImage" alt="@Model.Title">
    </div>
</div>

<!-- Main slider -->
<div class="box">
    <div class="product-list">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="wrap">
                        <ul class="tabs group">
                            <li><a class="active" href="#/one">Chức Năng</a></li>
                            <li><a href="#/two">Lĩnh Vực</a></li>
                        </ul>
                        <div class="aside-nav">
                            <ul id="one">
                                @foreach (var item in Model.CatalogFunctions)
                                {
                                    <li><a style="color: @item.Color" href="~/en/nhom-chucnang-@item.Slug"><span class="icon icon-radio-unchecked"></span>@item.Name</a></li>
                                }
                            </ul>
                            <ul id="two" style="display:none">
                                @foreach (var item in Model.CatalogSectors)
                                {
                                    <li><a style="color: @item.Color" href="~/en/nhom-sanpham-@item.Slug"><span class="icon icon-radio-unchecked"></span>@item.Name</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                @{
                    await Html.RenderPartialAsync("~/Views/Catalog/_Index/_Product.cshtml").ConfigureAwait(true);
                }
            </div>
        </div>
    </div>


</div>
@await Component.InvokeAsync("EnLogo")
