@model IEnumerable<InfoModel>
@{
    ViewData["Title"] = "Liên hệ";
    ViewData["Description"] = "Gởi thông tin liên hệ cho chúng tôi";
}

<div class="box">
    <div class="brums">
        <img src="@ViewBag.URLImage" alt="Hình liên hệ">
    </div>
</div>
<div class="box">
    <div class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="header-wrap">
                        <h1 class="header-title">Contact</h1>
                        <!-- <img src="~/client/images/icon/street.svg"> -->
                        <p>
                            Do not hesitate to contact us for best support customer support is PATH
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- QA  -->
<div class="box">
    <div class="contact-info">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12 com-wrap1">
                    <div>
                        @{
                            if (Model.Count() > 0)
                            {
                                <div class="com-wrap">
                                    <h3>Head office</h3>
                                    <div class="incon-info">
                                        <span class="icon icon-location2"></span>
                                        <p><span>Address: @Model.ToList()[0].Address</span></p>
                                    </div>
                                    <div class="incon-info">
                                        <span class="icon icon-phone"></span>
                                        <p><span>Phone: @Model.ToList()[0].Phone</span></p>
                                    </div>
                                    <div class="incon-info">
                                        <span class="icon icon-mail2"></span>
                                        <p><span>Email: @Model.ToList()[0].Email</span></p>
                                    </div>
                                    <div class="incon-info">
                                        <span class="icon icon-printer"></span>
                                        <p><span>fax: @Model.ToList()[0].Fax</span></p>
                                    </div>
                                    <div class="incon-info">
                                        <span class="icon icon-earth"></span>
                                        <p><a href="">Location Map</a></p>
                                    </div>
                                </div>
                            }

                            if (Model.Count() > 1)
                            {
                                <div class="com-wrap mt45">
                                    <h3>Factory</h3>
                                    <div class="incon-info">
                                        <span class="icon icon-location2"></span>
                                        <p><span>@Model.ToList()[1].Address</span></p>
                                    </div>
                                    <div class="incon-info">
                                        <span class="icon icon-phone"></span>
                                        <p><span>Phone: @Model.ToList()[1].Phone</span></p>
                                    </div>
                                    <div class="incon-info">
                                        <span class="icon icon-mail2"></span>
                                        <p><span>Email: @Model.ToList()[1].Email</span></p>
                                    </div>
                                    <div class="incon-info">
                                        <span class="icon icon-printer"></span>
                                        <p><span>fax: @Model.ToList()[1].Fax</span></p>
                                    </div>
                                    <div class="incon-info">
                                        <span class="icon icon-earth"></span>
                                        <p><a href="">Location Map</a></p>
                                    </div>
                                </div>
                            }
                        }


                    </div>
                </div>
                @{
                    await Html.RenderPartialAsync("~/Areas/WebEnglish/Views/Contact/_Index/_Form.cshtml").ConfigureAwait(true);
                }
            </div>
        </div>
    </div>
</div>
@await Component.InvokeAsync("Logo")